@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font: 'Montserrat', sans-serif;
  --heading-font: 'Bebas Neue', sans-serif;

  --text-color: #000;
  --base-color: #fff;
  --primary-color: rgb(67, 78, 108);
  --secondary-color: rgb(162, 168, 184);
  --tertiary-color: rgb(79, 79, 79);
}

body {
  font-family: var(--base-font);
}

.container {
  width: min(90%, 960px);
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hide {
  display: none;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--base-color);
}

header.unscrolled {
  background-color: transparent;
}

header nav {
  width: min(90%, 960px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 40px;
  height: 40px;
  background: var(--base-color);
  border-radius: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: var(--base-color);
  font-size: 0.8rem;
  padding-bottom: 2px;
  border-bottom: solid 1px var(--base-color);
  font-style: italic;
}

section {
  height: 100vh;
}

section.hero {
  background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
}

section.hero h1 {
  line-height: 3.7rem;
  color: var(--base-color);
  font-weight: normal;
  letter-spacing: 0.17rem;
}

section.hero h1 .losangeles {
  font-size: 6rem;
}

section.hero h1 .mountains {
  font-size: 6.45rem;
}

section.history {
  background-image: url('https://images.unsplash.com/photo-1611605645802-c21be743c321?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.history h2 {
  margin-top: 60px;
}

section.history h2 span.numeral {
  font-size: 9rem;
  color: var(--secondary-color);
}

section.history h2 span.title {
  display: inline-block;
  font-size: 2.8rem;
  color: var(--primary-color);
  transform: translate(-24px, -29px);
}

section.history p {
  margin-left: 80px;
  transform: translateY(-35px);
}

section.history .carousel {
  background: rgba(67, 78, 108, 0.8);
  padding: 20px 0;
}

section.history .carousel .container {
  display: flex;
  overflow: hidden;
  gap: 10px;
}

section.history .carousel img {
  max-width: 200px;
}

/************************
  CLIMB
  *******************/

section.climb {
  overflow: hidden;
}

section.climb .about {
  background-color: var(--base-color);
  padding: 5px 0;
}

section.climb .about > .container {
  display: flex;
  align-items: center;
  gap: 40px;
}

section.climb .about h2 {
  display: flex;
  align-items: center;
}

section.climb .about h2 span.numeral {
  font-size: 9rem;
  color: var(--secondary-color);
}

section.climb .about h2 span.title {
  display: inline-block;
  font-size: 2.8rem;
  color: var(--primary-color);
  transform: translate(-24px, 5px);
}

section.climb .schedules .climb-nav {
  background-color: var(--primary-color);
}

section.climb .schedules .climb-nav ul {
  list-style-type: none;
  display: flex;
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

section.climb .schedules .climb-nav ul li {
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 5px 15px;
}

section.climb .schedules .climb-nav ul li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

section.climb .schedules .mountain1,
section.climb .schedules .mountain2 {
  height: calc(100vh - 10px - 10rem);
}

section.climb .mountain1 {
  background-image: url('https://images.unsplash.com/photo-1486284847143-bfb9308a3f17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
  background-position: center;
  overflow: hidden;
}

section.climb .mountain2 {
  background-image: url('https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  overflow: hidden;
}

section.climb .schedules .schedule {
  margin-top: 60px;
  width: min(90%, 300px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 30px;
}

section.climb .schedules .schedule h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

section.climb .schedules .schedule .journey {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.climb .schedules .schedule .journey > div {
  display: flex;
  justify-content: space-between;
}
