@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font: 'Montserrat', sans-serif;
  --heading-font: 'Bebas Neue', sans-serif;

  --text-color: #fff;
  --base-color: #000;
  --primary-color: rgb(67, 78, 108);
  --secondary-color: rgb(162, 168, 184);
  --tertiary-color: rgb(79, 79, 79);
}

body {
  font-family: var(--base-font);
}

.container {
  width: min(90%, 960px);
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
}
